* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Makinas";
    src: url("fonts/Makinas-4-Square.otf") format("opentype");
    font-display: swap;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6C7B92;
    background: radial-gradient(#E6EFF6, #C9DCEA);
}

h1 {
    margin-top: 30px;
}

main {
    flex: 1;
}

.card {
    margin: 10px auto;
    padding: 2vh 3vw;
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
}

select {
    color: #6C7B92;
    padding: 12px 14px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    background: radial-gradient(#D5E0E8, #E8F2F7);
    border: 2px solid #DEE9F3;
    box-shadow:
        -5px -5px 30px rgba(255, 255, 255, 0.8),
        5px 5px 50px rgba(0, 40, 100, 0.3);
}

input[type=submit] {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #6C7B91;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#link {
    margin-top: 20px;
}

#loading {
    margin: 20px auto;
    width: 300px;
    color: white;
    background: #6C7B91;
    font-size: 150%;
    border-radius: 10px;
}

footer {
    margin-top: 40px;
}

.copy {
    font-size: 1em;
}
/* ©2026 test.resavation326 */
